@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400&&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800,900&display=swap');
@import url('https://use.typekit.net/wji0bht.css');

$montserrat: 'Montserrat', sans-serif;
$kaushan: 'Kaushan Script', sans-serif;
$roboto: 'Roboto', sans-serif;
